header {
  width: 100vw;
  height: 10vh;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, black 25%, transparent 100%);
}

.search {
  background-color: var(--color_4);
  border: 1px solid var(--color_2);
  border-radius: 50px;
  font-size: 1rem;
  padding: 0.5rem;
  color: var(--color_1);
}
.search::placeholder {
  color: var(--color_2);
}
.search:focus {
  outline: none;
}
