:root {
  --color_1: #4a5b98;
  --color_2: #404453;
  --color_3: #fce547;
  --color_4: #c1a9a2;
  --color_5: #f7d9c3;
  --color_6: #faeff4;
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  /* background-color: var(--color_2); */
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 0;
}
