:root {
  --color_1: #4a5b98;
  --color_2: #404453;
  --color_3: #fce547;
  --color_4: #c1a9a2;
  --color_5: #f7d9c3;
  --color_6: #faeff4;
}
* {
  margin: 0;
}
body {
  background-color: var(--color_1);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}
.header {
  width: 100vw;
  height: 40vh;
  padding: 1rem;
  z-index: 3;
  display: flex;
  justify-content: center;
  /* background-image: linear-gradient(
    to bottom,
    var(--color_2) 0%,
    transparent 100%
  ); */

  /* background-image: linear-gradient(
    to top,
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 0.5)
  ); */
}
.search {
  background-color: var(--color_4);
  border: 2px solid var(--color_2);
  border-radius: 50px;
  font-size: 1rem;
  padding: 1rem;
  color: var(--color_1);
}
.search::placeholder {
  color: var(--color_2);
}
.search:focus {
  outline: none;
}
main {
  background-color: var(--color_3);
  width: 100vw;
  height: 60vh;
  top: 40vh;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  overflow-y: auto;
  -webkit-mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0) 100%
  );
  mask: linear-gradient(to top, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);
  z-index: 2;
}
.movie {
  width: 200px;
  margin: 1rem;
  background-color: var(--color_1);
  box-shadow: 0 4px 5px black;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}
.movie img {
  width: 200px;
}
.movie-info {
  color: var(--color_4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  font-size: small;
}
.movie-info span {
  background-color: var(--color_2);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}
.movie-info span.green {
  color: lightgreen;
}
.movie-info span.orange {
  color: orange;
}
.movie-info span.red {
  color: red;
}
.overview {
  background-color: var(--color_4);
  color: var(--color_2);
  padding: 1.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.4s ease;
  text-align: center;
}
.movie:hover .overview {
  transform: translateY(0);
}
.iframe {
  width: 250vw;
  height: 200vh;
  top: -75vh;
  position: absolute;
  z-index: -1;
  border: none;
  opacity: 50%;
  transition-duration: 0.5s;
  overflow: hidden;
}

.hero {
  /* background-color: white; */
  width: 100vw;
  height: 75vh;
  position: fixed;
  top: 0;
  z-index: 1;
  overflow-y: hidden;
  /* background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(255, 255, 255, 0) 100%
  ); */
}
.hero img {
  width: 100vw;
  height: 75vh;
  object-fit: cover;
  position: relative;
  top: 0;
  z-index: 1;
}
