.info {
  background-color: rgb(89, 5, 255);
  transition: all 0.5s ease-in-out;
  grid-area: info;

  z-index: 1;
}
@media (orientation: landscape) {
  .info {
    width: 30vw;
    position: relative;
    left: -28vw;
  }
}
@media (orientation: portrait) {
  .info {
  }
}
