main {
  background-color: black;
  /* background-color: var(--color_2); */
  width: 100vw;
  height: 85vh;
  top: 15vh;
  gap: 2vh;
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  overflow-y: auto;
  scrollbar-width: none;
  -webkit-mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 75%
  );
  mask: linear-gradient(to top, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 75%);
  z-index: 2;

  scroll-snap-type: y mandatory;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  z-index: 6;
}
main::-webkit-scrollbar {
  display: none;
}
.section {
  background-color: beige;
  width: 100%;
  height: 33vh;
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
  scrollbar-width: none;

  scroll-snap-align: start;
  z-index: 3;
}
.section::-webkit-scrollbar {
  display: none;
}
#section0 {
  height: 33vh;
  background-color: rgba(0, 0, 0, 0);
}
#section7 {
  height: 15vh;
}
.gallery {
  width: 100vw;
  height: 35vh;
  top: 49vh;
  left: 0vh;
  position: absolute;

  z-index: 10;
  background-color: rgba(165, 42, 42, 0.5);
}
