main {
  /* background-color: black; */
  /* background-color: var(--color_2); */
  width: 100vw;
  height: 75vh;
  /* top: 15vh; */
  bottom: 0vh;
  gap: 2vh;
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  overflow-y: auto;
  scrollbar-width: none;
  -webkit-mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 75%
  );
  mask: linear-gradient(to top, rgba(0, 0, 0, 1) 65%, rgba(0, 0, 0, 0) 90%);

  scroll-snap-type: y mandatory;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  transition-duration: 0.75s;
  z-index: 6;
}
main::-webkit-scrollbar {
  display: none;
}
.sectionContainer {
  /*   background-color: beige;
 */
  width: 100%;
  /* min-height: 200px; */
  max-height: 33vh;
  display: none;
  opacity: 0;
  flex-flow: row nowrap;
  position: relative;
  overflow: auto;
  scrollbar-width: none;
  scroll-snap-align: start;
  z-index: 3;
  transition: all 0.75s ease-in-out;
}
.section {
  display: flex;
  flex-flow: row nowrap;
  transition-duration: 0.75s;
}
.sectionContainer h2 {
  font-size: 3vh;
  color: bisque;

  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000, 5px 5px 15px rgb(0, 0, 0);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  transition-duration: 0.75s;
}
.sectionContainer::-webkit-scrollbar {
  display: none;
}
#section0 {
  /* height: 33vh; */
  height: 30vh;
  background-color: rgba(0, 0, 0, 0);
}
#section7 {
  height: 100%;
}
#sectionContainer7 {
  height: 5vh;
}
