.gallery {
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;

  scroll-snap-align: center;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;
}
.gallery[landscape] {
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 2vw;
}
.gallery[portrait] {
  overflow-x: hidden;
  overflow-y: scroll;
  flex-flow: column nowrap;
  gap: 2vh;
}
